h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
}
h1 {
    font-size: 40px;
    color: #1a1a1a;
}
h2 {
    font-size: 32px;
    color: #1a1a1a;
}
h3 {
    font-size: 28px;
    color: #1a1a1a;
}
h4 {
    font-size: 24px;
    color: #1a1a1a;
}
h5 {
    font-size: 20px;
    color: #1a1a1a;
}
h6 {
    font-size: 18px;
    color: #1a1a1a;
}
p {
    font-family: 'Open Sans';
    font-size: 18px;
    color: #3a3a3a;
}
a {
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 18px;
    color: #1a1a1a
}
button {
    background-color: #1a1a1a;
    border: 2px solid #1a1a1a;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    margin-bottom: 20px;
    border-radius: 5px;
}
section {
    margin-top: 75px;
    margin-bottom: 75px;
    max-width: 1350px;
    align-content: center;
    width: 100%;
}
img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
}